---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { getSortedPosts } from '@utils/helper'

export const prerender = true

const posts = await getCollection('blog')
const sortedPosts = getSortedPosts(posts)
---

<Layout title='Blogs'>
  <h1 class='text-4xl font-fun text-text_primary'>Blog</h1>
  <span class='text-sm italic text-text_secondary'>Yada kada I do this</span>

  <div class='text-text_secondary font-round'>
    {
      sortedPosts.map((post) => (
        <div class='mt-5'>
          <a href={`/posts/${post.data.postSlug}`}>
            <h2 class='text-text_primary'>{post.data.title}</h2>
            <p class='mt-1'>{post.data.description}</p>
          </a>
          <div class='flex gap-3 mt-2 italic'>
            {post.data.tags.map((t) => (
              <span>#{t}</span>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Layout>
