---
---

<main
  class="flex items-center justify-center min-h-screen p-6 text-white bg-gray-950"
>
  <div class="text-center">
    <h1 class="text-5xl font-bold">ummmm sorry, something went wrong</h1>
    <p class="mt-2 text-3xl text-gray-400">Can you check the url again</p>
    <a
      href="/"
      class="inline-block px-5 py-2 mt-4 text-black bg-yellow-400 rounded-md hover:bg-yellow-500"
      >Never mind, Go to Home</a
    >
  </div>
</main>
