---
import Layout from "../layouts/Layout.astro";
import ProjectList from "../components/ProjectList";
---

<Layout title="aidevv.in">
  <section class="mt-12 md:mt-20">
    <h1 class="text-2xl font-medium text-text_primary">Arif Imran</h1>
    <span class="text-sm italic text-text_secondary"
      >aarif-imran (not aerif-imren)</span
    >
    <p class="mt-2 text-text_secondary">
      Passionate software developer specializing in building modern,
      user-friendly web applications with a focus on creating intuitive
      interfaces and exceptional user experiences
    </p>
  </section>

  <section class="mt-8">
    <h1 class="text-xl text-text_primary">Projects</h1>
    <ProjectList />
  </section>
</Layout>

<style></style>
