---
import Layout from "../layouts/Layout.astro";
---

<Layout title="aidevv.in">
  <main class="p-6 mx-auto max-w-[40rem]">
    <h1 class="m-0 text-2xl font-bold">Welcome to My portfolio</h1>
    <p class="">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <pre>console.log("Hello there")</pre>
  </main>
</Layout>

<style></style>
