---
import ProjectCard from '@components/ProjectCard.astro'
import Layout from '@layouts/Layout.astro'
import { projects } from '@utils/projectData'
---

<Layout title='Projects'>
  <h1 class='text-4xl font-fun text-text_primary'>Projects</h1>
  <span class='text-sm italic text-text_secondary font-round'
    >essential .. non essential projects ＼（〇_ｏ）／</span
  >
  <section transition:name='projects'>
    <div class='mt-4 font-round'>
      {projects.slice(0, 3).map((p) => <ProjectCard project={p} />)}
    </div>
  </section>
</Layout>
