---
import "@fontsource/inter";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio website of Arif Imran" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="absolute flex justify-center z-[-999] inset-0 pointer-events-none bg-center bg-[url(assets/paper-bg-dark.jpg)]"
    >
    </div>
    <div
      class="bg-[url(assets/grid.svg)] min-h-screen pointer-events-none absolute opacity-60 inset-0"
    >
    </div>

    <main class="max-w-2xl px-4 mx-auto md:px-0">
      <h1 class="text-[#636363] mt-8">
        <a
          class="italic underline transition-colors duration-200 hover:text-accent"
          href="/">thatarif</a
        >
      </h1>
      <slot />
    </main>
  </body>
</html>
