---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'

const crafts = await getCollection('craft')
export const prerender = true
---

<Layout title='craft'>
  <h1 class='text-4xl font-fun text-text_primary'>Craft</h1>
  <span class='text-sm italic font-round text-text_secondary'
    >When I'm bored with everything</span
  >

  <div class='text-text_secondary font-round'>
    {
      crafts.map((craft) => (
        <div class='mt-5'>
          <a href={`/crafts/${craft.slug}`}>
            <h2 class='text-text_primary'>{craft.data.title}</h2>
            <p class='mt-1'>{craft.data.description}</p>
          </a>
        </div>
      ))
    }
  </div>
</Layout>
